<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cool Submissions</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">


    <input type="text" name="name" placeholder="name" v-model="nametype"/>
    <div>{{nameWarning}}</div>


    <input type="text" name="email" placeholder="youremail@gmail.com" v-model="email"/>
    <div>{{emailWarning}}</div>



    <div class="item" v-for="item in items" v-on:click="item.show=!item.show">
        <div class="side1" v-bind:class="{hide:item.show}">
            <h1>{{item.name}}</h1>
        </div>

        <div class="item" v-bind:class="{hide: !item.show}">
            <h1>{{item.codename}}</h1>
        </div>
  </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<script src="vue.js"></script>
<script src="app.js"></script>
</body>
</html>