<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cool Submissions</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">


    <input type="text" name="name" placeholder="name" v-model="nametype"/>
    <div>{{nameWarning}}</div>
<toggle v-for="item in list" v-bind:name='list.name' v-bind:codename="list.codename" ></toggle>



    <input type="text" name="email" placeholder="youremail@gmail.com" v-model="email"/>
    <div>{{emailWarning}}</div>
    <toggle v-for="item in list" v-bind:name='list.name' v-bind:codename="list.codename" ></toggle>

</div>

<div id="thing">
    <toggle v-for="names in codename" v-bind:name="names.name" v-bind:codeName="names.codename"></toggle>
</div>

<script src="vue.js"></script>
<script src="app.js"></script>
</body>
</html>